/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
} 


* {
  box-sizing: border-box;
} 

body {
   height: 100vh; 
   margin: 0;

}


header {
  background-color: #FFFFFF; 
  max-height: 235px; 
  grid-template-rows: 1fr; 
  grid-template-columns: repeat(3,1fr); 
  display: grid; 
  background-color: #E2DBF2;

}   

header img {
  max-width: 190px;
  height: auto; 
  margin: 0px auto;
  position: relative;
  grid-column: 2; 
  grid-row: 1; 
  padding-top: 1.5rem; 
  padding-bottom: 1.5rem;
} 

@media screen and (min-width: 60em) {
  header img {
    max-width: 350px; 
    height: auto;
    grid-column: 2; 
    grid-row: 1; 
    padding-top: .5rem; 
    padding-bottom: .5rem;  
    margin: 0px auto;
    position: relative;

  }

}


.home {
   grid-template-rows: 1fr;
   grid-template-columns: 1fr;
   display: grid;
   background-color: #444674

} 

.home h1 {
   color: #FFFFFF;
   font-family: 'Vidaloka', serif; 
   font-size: 1.5rem; 
   text-align: center; 
   padding-top: 1.5rem;


} 

@media screen and (min-width: 60em) {
  .home h1 {
    color: #FFFFFF;
    font-family: 'Vidaloka', serif; 
    font-size: 2rem; 
    text-align: center; 
    padding-top: 1rem;

  }
}

.home .products {
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  
  display: grid; 

   
}  

@media screen and (min-width: 60em) {
  .home .products {
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr; 
    grid-gap: 1rem;
    display: grid;

  }
}


.home .products img {
   max-width: 175px; 
   height: auto;  
   margin: 0px auto;
   position: relative; 
   padding-bottom: 4rem;  
   margin-bottom: 2rem;

 } 

.home .harry {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  display: grid; 
  

}

.home .harry img {
   grid-row: 1;
   grid-column: 1;
   max-height: 90px; 
   width: auto; 
   margin-top: 1rem;
   animation-name: bounce; 
   animation-duration: 5s;
   animation-iteration-count: infinite;
   animation-fill-mode: forwards;
   animation-timing-function: linear;


}  

@media screen and (min-width: 60em) {
  .home .harry img {
    grid-row: 1;
    grid-column: 1;
    max-height: 100px; 
    width: auto; 
    margin-top: 1rem;
    animation-name: bounce; 
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

  }
}




@keyframes bounce {
   0%  {
    transform: translateY(0);
   } 

   20% {
    transform: translateY(15%);
   } 


   40% {
    transform: translateY(-15%);
   } 

   60% {
    transform: translateY(15%);
   } 

   80% {
    transform: translateY(-15%);
   } 

   100% {
    transform: translateY(0%);
   }

}
 



.company-story {
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: 1fr;
  display: grid;
  margin-top: 8rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
  margin-right: 3rem;
} 

@media screen and (min-width: 60em) {
  .company-story {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4,1fr);
    display: grid;
    margin-top: 8rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    margin-right: 3rem;

  }
}

.company-story img {
  grid-row: 1; 
  grid-column: 1;
  max-width: 400px; 
  height: auto; 
   
  
  
}  

@media screen and (min-width: 60em) {
  .company-story img {
    grid-row: 1; 
    grid-column: 1/span-2;
    max-width: 500px; 
    height: auto; 
    z-index: 1; 
    margin-left: 6rem;

  }
}

.company-story .content {
  grid-row: 2;
  grid-column: 1;
  padding-top: 1rem; 
  padding-left: 2rem;
  padding-right: 2rem; 
  background-color: #E2DBF2; 
  border-radius: 1.25rem;  
   





}  

@media screen and (min-width: 60em) {
  .company-story .content {
    grid-row: 1;
    grid-column: 2/span-2;
    padding-top: 5rem; 
    padding-left: 16rem;
    padding-right: 4rem; 
    background-color: #E2DBF2; 
    border-radius: 1.25rem;  
    margin-right: 5.5rem;

  }
}

.company-story .content h1 {
  text-align: center;
  font-family: 'Vidaloka', serif; 
  font-size: 1.6rem; 
  color: #482884;

}  

@media screen and (min-width: 60em) {
  .company-story .content h1 {
    text-align: right;
    font-family: 'Vidaloka', serif; 
    font-size: 2.5rem; 
    color: #482884;

    }
}

.company-story .content p {
  text-align: left;
  font-family: 'Quicksand', sans-serif; 
  font-size: 1rem;
  color: #482884;
  line-height: 2rem;

}  

@media screen and (min-width: 60em) {
  .company-story .content p {
    text-align: right;
    font-family: 'Quicksand', sans-serif; 
    font-size: 1.1rem;
    color: #482884;
    line-height: 2rem;

    }
}

.product-story {
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: 1fr;
  display: grid;
  margin-top: 10rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
  margin-right: 3rem;


} 

@media screen and (min-width: 60em) {
  .product-story {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4,1fr);
    display: grid;
    margin-top: 10rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    margin-right: 3rem;

    }
}

.product-story .content { 
  grid-row: 2;
  grid-column: 1; 
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem; 
  padding-bottom: 2rem;
  background-color: #E2DBF2; 
  border-radius: 1.25rem;
  text-align: left;

}  


@media screen and (min-width: 60em) {
  .product-story .content {
    grid-row: 1;
    grid-column: 1/span-2; 
    margin-left: 5rem; 
    margin-right: 18rem;
    padding-top: 5rem;
    padding-left: 4rem;
    padding-right: 16rem; 
    background-color: #E2DBF2; 
    border-radius: 1.25rem;
    text-align: left;

    }
}

.product-story .content h1 {
  
  font-family: 'Vidaloka', serif; 
  font-size: 1.6rem; 
  color: #482884; 
  text-align: center;

}  

@media screen and (min-width: 60em) {
  .product-story .content h1 {
    font-family: 'Vidaloka', serif; 
    font-size: 2.5rem; 
    color: #482884;

    }
}

.product-story .content p {
  
  font-family: 'Quicksand', sans-serif; 
  font-size: 1rem;
  color: #482884;
  line-height: 2rem;

}  

@media screen and (min-width: 60em) {
  .product-story .content p {
    font-family: 'Quicksand', sans-serif; 
    font-size: 1.1rem;
    color: #482884;
    line-height: 2rem;

    }
}

.product-story img {
  grid-row: 1;
  grid-column: 1; 
  max-width: 500px;
  height: auto; 
  margin-right: 2rem;
  margin: 0px auto;  
  z-index: 1;
 
   
} 

@media screen and (min-width: 60em) {
  .product-story img {
    grid-row: 1;
    grid-column: 3/span-2; 
    max-width: 500px;
    height: auto; 
    margin-right: 2rem;
    margin: 0px auto; 
    z-index: 1;

    }
}

.benefits {
  grid-template-rows: repeat(2,1fr); 
  grid-template-columns: 1fr;
  display: grid;
  background-color: #444674;
  margin-top: 10rem; 
  align-content: center;

}  

@media screen and (min-width: 60em) {
  .benefits {
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr;
    display: grid;
    background-color: #444674;
    margin-top: 10rem; 
    align-content: center;

    }
}

.benefits img {
  grid-row: 1;
  grid-column: 1;
  max-height: 400px; 
  width: auto; 
  margin-top: 4rem; 
 
  
}   

@media screen and (min-width: 60em) {
  .benefits img {
    grid-row: 1;
    grid-column: 1;
    max-height: 600px; 
    width: auto; 
    margin-top: 7rem; 
    margin-bottom: 4rem;

    }
}

.benefits ul { 
  list-style: none;
  margin: 0; 
  grid-row: 2;
  grid-column: 1;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5,1fr);
  display: grid;
  align-content: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 4rem; 
  font-size: 1rem;
  color: #FFFFFF; 
  font-family: 'Quicksand', sans-serif;
  font-weight: 300; 

  

}  

@media screen and (min-width: 60em) {
  .benefits ul {
    list-style: none;
    margin: 0; 
    grid-row: 1;
    grid-column: 1;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    display: grid;
    grid-gap: 5rem; 
    align-content: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 7rem;
    padding-right: 7rem; 
    font-size: 1.5rem;
    color: #FFFFFF; 
    font-family: 'Quicksand', sans-serif;
    font-weight: 300; 
    grid-column-gap: 8rem;

    }
}

.benefits ul li:nth-child(2) {
   text-align: left;
} 

@media screen and (min-width: 60em) {
  .benefits ul li:nth-child(2) {
    text-align: right;

    }
}

.benefits ul li:nth-child(4) {
   text-align: left;
} 

@media screen and (min-width: 60em) {
  .benefits ul li:nth-child(4) {
    text-align: right;

    }
}

.FAQ {
  grid-template-rows: repeat(2,1fr); 
  grid-template-columns: 1fr;
  display: grid; 
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 3rem;
  margin-right: 3rem;
}   

@media screen and (min-width: 60em) {
  .FAQ {
    grid-template-rows: 1fr; 
    grid-template-columns: repeat(4,1fr);
    display: grid; 
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: 3rem;
    margin-right: 3rem;

    }
}

.FAQ img {
  grid-row: 1;
  grid-column: 1;
  max-width: 375px; 
  height: auto;
  margin: 0px auto;
  position: relative; 
  

}    

@media screen and (min-width: 60em) {
  .FAQ img {
    grid-row: 1;
    grid-column: 1;
    max-width: 500px; 
    height: auto;
    margin-left: 5rem;
    position: relative; 
    

    }
}

.FAQ .content { 
  grid-row: 2;
  grid-column: 1;
  background-color: #E2DBF2;
  border-radius: 1.25rem;  
  padding-left: 1rem;
  padding-right: 2rem;
  margin-left: 1rem; 
  margin-right: 1rem;
  text-align: center;

}  

@media screen and (min-width: 60em) {
  .FAQ .content {
    grid-row: 1;
    grid-column: 2/span-2;
    background-color: #E2DBF2;
    border-radius: 1.25rem;  
    padding-top: 4rem;
    padding-left: 15rem;
    padding-right: 4rem;
    margin-left: 1rem; 
    margin-right: 5rem;
    text-align: right;
    

    }
}

.FAQ .content h1 {
  
  font-family: 'Vidaloka', serif; 
  font-size: 2rem; 
  color: #482884;

}  

@media screen and (min-width: 60em) {
  .FAQ .content h1 {
    font-family: 'Vidaloka', serif; 
    font-size: 2.5rem; 
    color: #482884;
    

    }
} 

.FAQ .content h2 {
  font-size: 1.2rem; 
  color: #482884; 
    &hover {
      cursor: pointer;
      color: #FFFFFF;
    }
} 


@media screen and (min-width: 60em) {
  .FAQ .content h2 {
    font-size: 1.4rem; 
    color: #482884; 
    &hover {
      cursor: pointer;
      color: #FFFFFF;
    }
    

    }
} 

.FAQ .content ul {
  list-style: none;
  font-family: 'Quicksand', sans-serif; 
  font-size: 1.2rem;
  color: #482884;
  line-height: 2.5rem; 
  text-align: left;

}  

@media screen and (min-width: 60em) {
  .FAQ .content ul {
    list-style: none;
    font-family: 'Quicksand', sans-serif; 
    font-size: 1.2rem;
    color: #482884;
    line-height: 2.5rem;
    text-align: right;
    

    }
} 

.accordion-content {
  max-height: 0; 
  overflow: hidden; 
  //transition: all .4s; 
  
  p {
    margin-bottom: 0;
    &:first-child {
    margin-top: 0;
    }
  }
} 

.more {
   max-height: 100rem;

}

.stores {
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   display: grid; 
   
}  

@media screen and (min-width: 60em) {
  .stores {
     grid-template-columns: 1fr; 
     grid-template-rows: repeat(2,1fr);
     display: grid;
    

    }
} 

.stores h1 {
   grid-row: 1;
   grid-column: 1;
   font-family: 'Vidaloka', serif; 
   font-size: 2rem; 
   color: #482884;
   text-align: center; 
   padding-top: 4rem;

}  

@media screen and (min-width: 60em) {
  .stores h1 {
     font-family: 'Vidaloka', serif; 
     font-size: 3rem; 
     color: #482884;
     text-align: center; 
     padding-top: 4rem;
    

    }
} 

.stores ul {
   list-style: none;
   margin: 0;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(3,1fr);
   display: grid;  
   grid-gap: 1.5rem;
   padding-top: 2rem;
   padding-bottom: 8rem; 
   margin-left: 3rem;
   margin-right: 3rem;

}  

@media screen and (min-width: 60em) {
  .stores ul {
     list-style: none;
     margin: 0;
     grid-template-columns: repeat(5,1fr);
     grid-template-rows: 1fr; 
     display: grid;
     grid-gap: .5rem;   
     padding-bottom: 8rem; 
     margin-left: 3rem;
     margin-right: 3rem;
    

    }
} 

.stores img {
   max-width: 135px; 
   height: auto;

}    

@media screen and (min-width: 60em) {
  .stores img {
     max-width: 175px; 
     height: auto;
    

    }
} 

.email-form {
   grid-template-columns: 1fr; 
   grid-template-rows: repeat(2,1fr);
   display: grid; 
   margin-top: 4rem; 
   margin-bottom: 4rem;
}   

@media screen and (min-width: 60em) {
  .email-form {
     grid-template-columns: repeat(2,1fr); 
     grid-template-rows: 1fr;
     display: grid; 
     margin-top: 4rem; 
     margin-bottom: 4rem;
    }
} 

.email-form .left {
   grid-template-columns: 1fr; 
   grid-template-rows: repeat(2,1fr); 
   grid-row: 2;
   grid-column: 1;
   display: grid; 
    
} 

@media screen and (min-width: 60em) {
  .email-form .left {
     grid-template-columns: 1fr; 
     grid-template-rows: 1fr;
     grid-column: 1;
     grid-row: 1;
     display: grid; 
     margin-left: 3rem;
    }
} 

.email-form h1 {
   grid-column: 1;
   grid-row: 1;
   font-family: 'Vidaloka', serif; 
   font-size: 1.6rem;
   color: #482884; 
   margin-left: 1rem;  
   text-align: center; 
   padding-top: 6rem;

} 

@media screen and (min-width: 60em) {
  .email-form h1 {
     grid-column: 1;
     grid-row: 1;
     font-family: 'Vidaloka', serif; 
     font-size: 2rem;
     color: #482884; 
     margin-left: 3rem;  
     text-align: center; 
     padding-top: 6rem;
    }
} 

.email-form .email {
   grid-column: 1;
   grid-row: 2;
   padding-left: 3rem; 
   align-content: center; 
} 

@media screen and (min-width: 60em) {
  .email-form .email {
     grid-column: 1;
     grid-row: 2;
     padding-left: 3rem; 
     padding-bottom: 6rem;
     align-content: center;
    }
} 

input#email {
   width: 400px; 
   border-radius: 2rem; 
   border-style: solid;
   border-color: #482884; 
   border-width: .07rem;
   background-color: transparent; 
   padding-top: .6rem;
   padding-bottom: .6rem;
   padding-left: 1rem;
   font-family: 'Quicksand', sans-serif; 
   color: #482884;
   font-size: 1.5rem;
   font-weight: 300;
}   

@media screen and (min-width: 60em) {
  input#email {
     width: 500px; 
     border-radius: 2rem; 
     border-style: solid;
     border-color: #482884; 
     border-width: .07rem;
     background-color: transparent; 
     padding-top: .6rem;
     padding-bottom: .6rem;
     padding-left: 1rem;
     font-family: 'Quicksand', sans-serif; 
     color: #482884;
     font-size: 1.5rem;
     font-weight: 300;

    }
} 

input {
   border-radius: 2rem;
   width: 250px;
   border-style: none; 
   background-color: #2D2F77; 
   padding-top: .6rem;
   padding-bottom: .6rem;
   font-family: 'Quicksand', sans-serif; 
   color: #FFFFFF;
   font-size: 1.5rem; 
   font-weight: 300; 
   margin-top: 1rem;


}

.email-form img {
   grid-column: 1;
   grid-row: 1;
   margin: 0px auto; 
   position: relative;
   border-radius: 1.25rem;
   margin-top: 2rem; 
   max-width: 400px; 
   height: auto; 
   margin-right: 3.25rem;


}  

@media screen and (min-width: 60em) {
  .email-form img {
     grid-column: 2;
     grid-row: 1;
     margin: 0px auto; 
     position: relative;
     border-radius: 1.25rem;
     margin-top: 2rem; 
     max-width: 450px; 
     height: auto;
    }
} 


footer {
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: 1fr; 
   display: grid; 
   background-color: #E2DBF2; 
   padding-top: .5rem;
   padding-bottom: .5rem;

} 

footer .left {
   grid-template-columns: 1fr; 
   grid-template-rows: repeat(2,1fr); 
   display: grid; 
   padding-left: 3rem;

} 


footer .right {
   grid-template-rows: 1fr; 
   grid-template-columns: repeat(2,1fr); 
   display: grid; 
   margin-right: 2rem;

} 

@media screen and (min-width: 60em) {
  footer .right {
    grid-template-rows: 1fr; 
    grid-template-columns: repeat(2,1fr); 
    display: grid;

    }
} 



footer .right .icons { 
  margin: 0;
  list-style: none; 
  grid-column: 2;
  grid-row: 1;  
  grid-template-columns: repeat(3,1fr);
  grid-row: 1fr;
  display: grid; 
  padding-left: 1rem; 
  grid-gap: .7rem;


} 

@media screen and (min-width: 60em) {
  footer .right .icons {
    margin: 0;
    list-style: none; 
    grid-column: 2;
    grid-template-columns: repeat(3,1fr);
    grid-row: 1fr;
    display: grid; 
    padding-left: 6rem;

    }
} 


footer .right .icons li {  
  max-width: 30px;
  height: auto; 
  padding-top: 1rem;  

} 

@media screen and (min-width: 60em) {
  footer .right .icons li {
     max-width: 35px;
     height: auto; 
     padding-top: 1rem; 

    }
} 




footer img {
   grid-column: 1;
   grid-row: 1; 
   max-width: 175px; 
   height: auto;  

}  

@media screen and (min-width: 60em) {
  footer img {
    grid-column: 1;
    grid-row: 1; 
    max-width: 200px; 
    height: auto;

    }
} 

footer p {
   grid-column: 1;
   grid-row: 2; 
   font-family: 'Quicksand', sans-serif; 
   color: #482884;
   font-size: 1.2rem; 


}






























/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

